<form class="form-horizontal" [formGroup]="productForm">
    <h1 style="text-align: center;">{{this.titulo}}</h1>
    <div>
      <c-row>
        <ngb-alert #selfClosingAlert *ngIf="successMessageSuccess" type="success" (closed)="successMessageSuccess = ''">{{
          successMessageSuccess }}
        </ngb-alert>
        <ngb-alert #selfClosingAlert *ngIf="successMessageError" type="danger" (closed)="successMessageError = ''">{{
          successMessageError }}
        </ngb-alert>
      </c-row>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Nombre:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="txtProductName" formControlName="nombre"
          placeholder="Nombre"
          [ngClass]="{ 'is-invalid':  (submitted || productForm.controls['nombre'].touched) && 
                productForm.controls['nombre'].invalid, 'is-valid': productForm.controls['nombre'].touched && 
                productForm.controls['nombre'].valid }" />
        <div
          *ngIf="productForm.controls['nombre'].invalid && (productForm.controls['nombre'].dirty || productForm.controls['nombre'].touched)"
          class="invalid-feedback">
          <div *ngIf="productForm.controls['nombre'].errors.required">
            El campo Nombre es obligatorio
          </div>
        </div>
      </div>
    </div>
    <br />    
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Descripción :</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="txtProductDescription" formControlName="descripcion"
          placeholder="Descripción"
          [ngClass]="{ 'is-invalid':  (submitted || productForm.controls['descripcion'].touched) && 
                productForm.controls['descripcion'].invalid, 'is-valid': productForm.controls['descripcion'].touched && 
                productForm.controls['descripcion'].valid }" />
        <div
          *ngIf="productForm.controls['descripcion'].invalid && (productForm.controls['descripcion'].dirty || productForm.controls['descripcion'].touched)"
          class="invalid-feedback">
          <div *ngIf="productForm.controls['descripcion'].errors.required">
            El campo Descripción es obligatorio
          </div>
        </div>
      </div>
    </div>
    
    <br />
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Dirección:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="txtProductCost" formControlName="direccion" placeholder="Dirección"
        [ngClass]="{ 'is-invalid':  (submitted || productForm.controls['direccion'].touched) && 
                productForm.controls['direccion'].invalid, 'is-valid': productForm.controls['direccion'].touched && 
                productForm.controls['direccion'].valid }" />
        <div
          *ngIf="productForm.controls['direccion'].invalid && (productForm.controls['direccion'].dirty || productForm.controls['direccion'].touched)"
          class="invalid-feedback">
          <div *ngIf="productForm.controls['direccion'].errors.required">
            El campo Dirección es obligatorio
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Teléfono:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="txtStock" formControlName="telefono" placeholder="Teléfono"
        [ngClass]="{ 'is-invalid':  (submitted || productForm.controls['telefono'].touched) && 
                productForm.controls['telefono'].invalid, 'is-valid': productForm.controls['telefono'].touched && 
                productForm.controls['telefono'].valid }" />
        <div
          *ngIf="productForm.controls['telefono'].invalid && (productForm.controls['telefono'].dirty || productForm.controls['telefono'].touched)"
          class="invalid-feedback">
          <div *ngIf="productForm.controls['telefono'].errors.required">
            El campo Teléfono es obligatorio
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Tipo de Documento:</label>
      <div class="col-sm-10">
        <select class="form-select" id="roles" formControlName="idTipoDocumento">
          <option *ngFor="let tipo of TipoDocumentos | async; let i = index" [value]="tipo.id">
            {{tipo.nombre}}
          </option>
        </select>
      </div>
    </div>  
    <br />
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Número de Documento:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="txtStock" formControlName="numeroDocumento" placeholder="Número de Documento"
        [ngClass]="{ 'is-invalid':  (submitted || productForm.controls['numeroDocumento'].touched) && 
                productForm.controls['numeroDocumento'].invalid, 'is-valid': productForm.controls['numeroDocumento'].touched && 
                productForm.controls['numeroDocumento'].valid }" />
        <div
          *ngIf="productForm.controls['numeroDocumento'].invalid && (productForm.controls['numeroDocumento'].dirty || productForm.controls['numeroDocumento'].touched)"
          class="invalid-feedback">
          <div *ngIf="productForm.controls['numeroDocumento'].errors.required">
            El campo Número de Documento es obligatorio
          </div>
        </div>
      </div>
    </div>       
    <br />
     <div class="form-group">
      <div class="container">
        <div class="row">
          <div *ngIf="nuevoProveedor" class="col-sm">
            <button type="submit" class="btn btn-primary" (click)="PostProduct(productForm.value)">Registrar</button> 
          </div>
          <div *ngIf="!nuevoProveedor" class="col-sm">
            <button type="submit" class="btn btn-primary" (click)="UpdateProduct(productForm.value)">Actualizar</button>
          </div>
          <div class="col-sm">
            <!-- <button type="submit" class="btn btn-primary" (click)="Clear(productForm.value)">Clear</button> -->
            <a routerLink="/proveedor" cButton color="danger">Cancelar</a>
          </div>
        </div>
      </div>
    <br />
    </div>    
    </div>
  </form>