<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
              <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
                <h1>Restaurar Contraseña</h1>
                <div *ngIf="showError" class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
                <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                    {{successMessage}}
                </div>
                <p class="text-medium-emphasis">Ingrese su correo</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>@</span>
                  <input autoComplete="email" cFormControl placeholder="Correo"  formControlName="email" [disabled]="finalizado"/>
                </c-input-group>  
                <div class="col-md-5">
                    <em *ngIf="validateControl('email') && hasError('email', 'required')">El correo es obligatorio</em>
                </div>    
                <c-row>
                    <c-col xs="6" *ngIf="!finalizado">
                      <button type="submit" cButton class="px-4" color="primary" [disabled]="!forgotPasswordForm.valid">
                        Aceptar
                      </button>                      
                    </c-col>
                    <c-col xs="6" *ngIf="!finalizado">
                      <a routerLink="/login" cButton class="px-4" color="danger">Cancelar</a>                      
                    </c-col>
                    <c-col xs="6" *ngIf="finalizado">
                      <a routerLink="/login" cButton class="px-4" color="primary">Regresar al Login</a>                      
                    </c-col>
                  </c-row>          
              </form>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
  </div>
  