<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form cForm #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                  <h1>Login</h1>
                  <p class="text-medium-emphasis">Ingrese con su usuario</p>
                  <div *ngIf="showError" class="alert alert-danger" role="alert">
                      {{errorMessage}}
                  </div>
                  <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                      {{successMessage}}
                  </div>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input id="username" name="username" autoComplete="username" cFormControl placeholder="Usuario" ngModel />
                  </c-input-group>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      id="password" name="password"
                      autoComplete="current-password"
                      cFormControl
                      placeholder="Contraseña"
                      type="password"
                      ngModel
                    />
                  </c-input-group>
                  <c-row>
                    <c-col xs="6">
                      <button type="submit" cButton class="px-4" color="primary">
                        Ingresar
                      </button>
                    </c-col>
                    <c-col class="text-right" xs="6">
                      <!-- <button cButton class="px-0" color="link">
                        Olvidaste tu Contraseña?
                      </button> -->
                      <a routerLink="/forgot-password" class="px-0" color="link">Olvidaste tu Contraseña?</a>
                    </c-col>
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
            <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
              <c-card-body class="text-center">
                <div>
                  <h2>Premier Beef</h2>
                  <p>
                    Bienvenidos al Sistema de Gestión de Almacenes
                  </p>
                  <!-- <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                    Register Now!
                  </button> -->
                </div>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
  