<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
              <form cForm class="form" [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
                <h1>Restaurar Contraseña</h1>
                <p class="text-medium-emphasis">Ingrese su nueva contraseña</p>
                <div *ngIf="showError" class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
                <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                    {{successMessage}}
                </div>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="name" cFormControl placeholder="Usuario" formControlName="usuario" readonly/>
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>@</span>
                  <input autoComplete="email" cFormControl placeholder="Correo" formControlName="email" readonly />
                </c-input-group>
                <c-input-group class="mb-3" *ngIf="!showSuccess">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="new-password" cFormControl placeholder="Contraseña" type="password" formControlName="password" />
                </c-input-group>
                <c-input-group class="mb-4" *ngIf="!showSuccess">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="new-password" cFormControl 
                  placeholder="Nueva Contraseña" 
                  type="password" 
                  formControlName="confirmPassword"/>
                </c-input-group>
                <div class="d-grid">
                  <c-col xs="6" *ngIf="!showSuccess">
                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid" color="primary">Actualizar</button>
                  </c-col>             
                  
                  <c-col xs="6" *ngIf="showSuccess">
                    <a routerLink="/login" cButton class="px-4" color="primary">Regresar al Login</a>                      
                  </c-col>                  
                </div>
              </form>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
  </div>
  