<form class="form-horizontal" [formGroup]="productForm">
    <h1 style="text-align: center;">Consulta de Stock</h1>
  
    <c-container> 
      <c-row>      
        <c-col [md]="4">
          <label cLabel for="inputPedido">Fecha Inicio:</label>
          <div class="dp-hidden position-absolute">
            <div class="input-group">
              <input name="datepicker"
                     class="form-control"
                     ngbDatepicker
                     #datepicker="ngbDatepicker"
                     [autoClose]="'outside'"
                     (dateSelect)="onDateSelection($event)"
                     [displayMonths]="2"
                     [dayTemplate]="t"
                     outsideDays="hidden"
                     [startDate]="fromDate!"
                     tabindex="-1">
              <ng-template #t let-date let-focused="focused">
                <span class="custom-day"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="input-group">
            <input #dpFromDate
                   class="form-control" placeholder="yyyy-mm-dd"
                   name="dpFromDate"
                   formControlName="fecInicio"
                   [value]="formatter.format(fromDate)"
                   (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><svg cIcon name="cilCalendar"></svg></button>
          </div>
        </c-col>
        <c-col [md]="4">
          <label cLabel for="inputPedido">Fecha Fin:</label>
          <div class="input-group">          
            <input #dpToDate
                   class="form-control" placeholder="yyyy-mm-dd"
                   name="dpToDate"
                   formControlName="fecFin"
                   [value]="formatter.format(toDate)"
                   (input)="toDate = validateInput(toDate, dpToDate.value)">
            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><svg cIcon name="cilCalendar"></svg></button>
          </div>
        </c-col>
        <c-col [md]="4">
          <label cLabel for="inputPedido">Pedido:</label>
          <input cFormControl id="inputPedido" type="text" formControlName="idPedido" placeholder="Pedido" />
        </c-col>
      </c-row>
      <br/>
      <c-row>
        <c-col [md]="4">
          <div class="col-sm">
            <button type="submit" class="btn btn-primary" (click)="GenerarReporte(productForm.value)">Consultar</button>
          </div>
        </c-col>
        <c-col [md]="4">
          <!-- <div class="col-sm">
            <button type="submit" class="btn btn-primary" (click)="DescargarReporte(productForm.value)">Descargar</button>
          </div> -->
        </c-col>
      </c-row>
    </c-container>
  </form>
  
  <div class="table-responsive" style="text-align: center;">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Detalle</th>
        <th scope="col">Usuario Registro</th>
        <th scope="col">Fecha Reclamo</th>
        <th scope="col">Tipo</th>
        <th scope="col">Pedido</th>
        <th scope="col">Cliente</th>
        <th scope="col">Respuesta</th>
        <th scope="col">Usuario Respuesta</th>
        <th scope="col">Fecha Respuesta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prd of ResultReporte | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{prd.detalle}}</td>
        <td>{{prd.usuarioRegistroCompleto}}</td>
        <td>{{prd.fechaReclamo}}</td>
        <td>{{prd.tipoReclamo}}</td>
        <td>{{prd.pedido}}</td>
        <td>{{prd.cliente}}</td>
        <td>{{prd.respuesta}}</td>
        <td>{{prd.usuarioRespuestaCompleto}}</td>
        <td>{{prd.fechaRespuesta}}</td>
      </tr>
    </tbody>
    </table>
  </div>