<a routerLink="add" class="btn btn-sm btn-success mb-2">Agregar Usuario</a>

<div>
  <c-row>
    <h1 style="text-align: center;">Gestión de Usuario</h1>
  </c-row>
  <c-row>
    <ngb-alert #selfClosingAlert *ngIf="successMessageSuccess" type="success" (closed)="successMessageSuccess = ''">{{
      successMessageSuccess }}
    </ngb-alert>
    <ngb-alert #selfClosingAlert *ngIf="successMessageError" type="danger" (closed)="successMessageError = ''">{{
      successMessageError }}
    </ngb-alert>
  </c-row>
  <c-row>
    <div class="table-responsive" style="text-align: center;">
      <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"> -->
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Usuario</th>
          <th scope="col">Correo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Ape. Paterno</th>
          <th scope="col">Ape. Materno</th>
          <th scope="col">Telefono</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prd of ProductList | async; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{prd.usuario}}</td>
          <td>{{prd.correo}}</td>
          <td>{{prd.nombre}}</td>
          <td>{{prd.apePaterno}}</td>
          <td>{{prd.apeMaterno}}</td>
          <td>{{prd.telefono}}</td>
          <td>
            <a routerLink="edit/{{prd.id}}" cButton color="primary">Editar</a>
            |
            <button type="button" cButton color="danger" (click)="DeleteProduct(prd.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </c-row>   
  </div>

  <!-- <button [cModalToggle]="verticallyCenteredModal.id" cButton>Centered modal</button>
<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Eliminar Usuario</h5>
    <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    Seguro de Eliminar este Usuario?
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary">Understood</button>
  </c-modal-footer>
</c-modal> -->