<form class="form-horizontal" [formGroup]="productForm">
  <h1 style="text-align: center;">{{this.titulo}}</h1>
  <div>
    <c-row class="g-3">
      <c-col [md]="4">
        <label cLabel for="inputNombre">Nombre:</label>
        <input cFormControl id="inputNombre" type="text" formControlName="nombre" placeholder="Nombre" />
      </c-col>
      <c-col [md]="8">
        <label cLabel for="inputDescripcion">Descripción:</label>
        <input cFormControl id="inputDescripcion" type="text" formControlName="descripcion" placeholder="Descripción" />
      </c-col>
    </c-row>
    <br />
    <c-row class="g-3">
      <!-- <c-col [md]="4">
        <label cLabel for="inputFechaInicio">Fecha Inicio:</label>
        <input cFormControl id="inputFechaInicio" type="text" formControlName="fecInicio" placeholder="Fecha Inicio" />
      </c-col>
      <c-col [md]="4">
        <label cLabel for="inputFechaFin">Fecha Fin:</label>
        <input cFormControl id="inputFechaFin" type="text" formControlName="fecFin" placeholder="Fecha Fin" />
      </c-col> -->
      <c-col [md]="4">
        <label cLabel for="inputPedido">Fecha Inicio:</label>
        <div class="dp-hidden position-absolute">
          <div class="input-group">
            <input name="datepicker"
                   class="form-control"
                   [minDate]="minDate"
                   ngbDatepicker
                   #datepicker="ngbDatepicker"
                   [autoClose]="'outside'"
                   (dateSelect)="onDateSelection($event)"
                   [displayMonths]="3"
                   [dayTemplate]="t"
                   outsideDays="hidden"
                   [startDate]="fromDate!"
                   tabindex="-1">
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
        <div class="input-group">
          <input #dpFromDate
                 class="form-control" placeholder="yyyy-mm-dd"
                 name="dpFromDate"
                 
                 formControlName="fecInicio"
                 [value]="formatter.format(fromDate)"
                 (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
          <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><svg cIcon name="cilCalendar"></svg></button>
        </div>
      </c-col>
      <c-col [md]="4">
        <label cLabel for="inputPedido">Fecha Fin:</label>
        <div class="input-group">          
          <input #dpToDate
                 class="form-control" placeholder="yyyy-mm-dd"
                 name="dpToDate"
                 formControlName="fecFin"
                 [value]="formatter.format(toDate)"
                 (input)="toDate = validateInput(toDate, dpToDate.value)">
          <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><svg cIcon name="cilCalendar"></svg></button>
        </div>
      </c-col>
      <c-col [md]="2">
        <label cLabel for="inputPorcentaje">Porcentaje:</label>
        <input cFormControl id="inputPorcentaje" type="number" formControlName="porcentajeDescuento"
          placeholder="Porcentaje" />
      </c-col>
    </c-row>
    <br />
    <c-row>
      <c-col [md]="12">
        <label cLabel for="inputPorcentaje">Porcentaje:</label>
        <ng-multiselect-dropdown 
              i18n-placeholder 
              placeholder="Seleccione" 
              name="estado" 
              [settings]="dropdownSettingsProducto" 
              [data]="lstProductos"
              (onSelect)="onItemSelectProducto($event)" 
              formControlName="selectedItemProducto"              
              (onDropDownClose)="onDropDownCloseEstado()"
              >
        </ng-multiselect-dropdown>
      </c-col>
    </c-row>
    <br />
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div *ngIf="nuevoPromocion" class="col-sm">
            <button type="submit" class="btn btn-primary" (click)="PostProduct(productForm.value)">Registrar</button>
          </div>
          <div *ngIf="!nuevoPromocion" class="col-sm">
            <button type="submit" class="btn btn-primary" (click)="UpdateProduct(productForm.value)">Actualizar</button>
          </div>
          <div class="col-sm">
            <!-- <button type="submit" class="btn btn-primary" (click)="Clear(productForm.value)">Clear</button> -->
            <a routerLink="/promocion" cButton color="danger">Cancelar</a>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</form>